body {
    display: flex;
    height: 100vh;
    margin: 0;
}
.left-container, .right-container {
    padding: 20px;
}
.left-container {
    flex: 1;
    background-color: #31363F;
}
.right-container {
    flex: 1;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-form, .upload-area {
    width: 80%;
    margin: 10px 0;
    padding: 20px;
    border: 2px dashed #ccc;
    text-align: center;
    background-color: #fff;
}
#response {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}