<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Column Layout</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="left-container">
        <nav>
            <p><a class="explorer" href="/">API Explorer</a></p>
        </nav>
        <pre id="response">Response Content</pre>
    </div>
    <div class="right-container">
        <div class="upload-form">
            <form id="upload-form" action="" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <br>
                <br>
                <button class="btn-test" type="submit"><div class="color-fill-2"></div><p>Button</p></button>
            </form>
        </div>
        <div class="divider">
            <div class="dash" id="dash-1">----------------------</div>
            <span id="or">OR</span>
            <div class="dash" id="dash-2">----------------------</div>
        </div>
        <div class="upload-area" id="uploadfile">
            Drag and Drop file here
        </div>
    </div>
</body>
<script src="{% static 'js/form.js' %}"></script>
</html>
